.first {
    color: red;
}

.last {
    color: blue;
}

.odd {
    background-color: rgb(190, 231, 218);
}

.even {
    background-color: rgb(239, 209, 239);
}

.nested {
    border: 1px dashed #454545;
    border-radius: 5px;
    color: blue;
    max-width: 150px;
    margin-bottom: 15px;
}