<app-notification></app-notification>
<app-signal></app-signal>
<br/>
<app-event></app-event>
<br />
<app-class-style></app-class-style>
<app-two-way-binding></app-two-way-binding>
<app-reference-template></app-reference-template>
<app-structural-directives></app-structural-directives>
<app-push-splice></app-push-splice>
<app-directives></app-directives>
<app-bootstrap-component></app-bootstrap-component>
<app-built-in-pipes></app-built-in-pipes>
<app-service-component></app-service-component>
<app-api-component></app-api-component>
<app-form-component></app-form-component>
<app-reactive-form-component></app-reactive-form-component>
<div>
    <h1>Task List</h1>
    <app-communication-component *ngFor="let t of tasks" [task]="t" (taskDeleted)="deleteTask(t)"></app-communication-component>
</div>
